 <div class="row no-gutters">

    

</div>

<div class="row d-flex justify-content-center no-gutters addScroll overflow-auto">

    <div class="d-flex col-10 mt-2">

        <div class="row justify-content-center w-100">

            <div class="card col-5 m-3 text-center w-100 pr-0 p-3" *ngFor="let club of clubs; index as club_index;" value="{{club_index}}">

                <div class="row no-gutters w-100 h-100">
                    <div class="flex-column col-6 ">
                        <img class="card-img-top w-75" src="{{club.img}}">
                        
                        <div class="card-body pt-0 pb-0">
                            <h5 class="card-title">{{club.name}}</h5>
                        </div>
                    </div>
                    <div class="flex-column col-6">
                        <button type="button" class="btn btn-warning  w-100" [routerLink]="['../edit-club', club._id]">Editar</button>
                        <button type="button" class="btn btn-danger w-100" (click)="deleteClub(club)">Eliminar</button>
                    </div>

                </div>
                
            </div>     

        </div>
    
    </div>

</div>