<div class="container-fluid no-gutters">

    <div class="row no-gutters main-row overflow-auto addScroll">

        
        <form class="col-12 mt-3 p-3 " [formGroup]="formulario" (ngSubmit)="guardar()">
            <h4>Crear jugador</h4>
            <hr>
    
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-8">
    
                <input class="form-control"
                        type="text"
                        placeholder="Nombre"
                        formControlName="name"
                        [class.is-invalid]="nameNoValid"
                        [(ngModel)]="player.name">
                <small *ngIf="nameNoValid" class="text-danger">Ingrese un nombre</small>
                </div>
            </div>
    
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">Apellido/s</label>
                <div class="col-8">
    
                <input class="form-control"
                        type="text"
                        placeholder="Apellidos"
                        formControlName="last_name"
                        [class.is-invalid]="lastnameNoValid"
                        [(ngModel)]="player.last_name">
                <small *ngIf="lastnameNoValid" class="text-danger">Ingrese los apellidos</small>
                </div>
            </div>
    
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">Fecha de nacimiento</label>
                <div class="col-8">
    
                <input class="form-control"
                        type="date"
                        placeholder="Fecha de nacimiento"
                        formControlName="birth_date"
                        [class.is-invalid]="birthdateNoValid"
                        [(ngModel)]="player.birth_date">
                <small *ngIf="birthdateNoValid" class="text-danger">Ingrese una fecha de nacimiento</small>
                </div>
            </div>
    
    
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">Correo</label>
                <div class="col-md-8">
                    <input class="form-control"
                            type="email"
                            placeholder="Correo electrónico"
                            formControlName="email"
                            [(ngModel)]="player.email">
                    <small *ngIf="emailNoValid" class="text-danger">Ingrese un email válido</small>
                </div>
            </div>
    
        
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">Posición principal</label>
                <div class="col-md-8">
                    <select class="form-control" formControlName="primary_position" [class.is-invalid]="primarypositionNoValid" [(ngModel)]="player.primary_position">
                        <option disabled>Posición principal</option>
                        <option value="Base">Base</option>
                        <option value="Escolta">Escolta</option>
                        <option value="Alero">Alero</option>
                        <option value="Ala-Pívot">Ala-Pívot</option>
                        <option value="Pívot">Pívot</option>
                    </select>
                    <small *ngIf="primarypositionNoValid" class="text-danger">Ingrese una posición</small>
                </div>
                
            </div>
    
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">Posición secundaria</label>
                <div class="col-md-8">
                    <select class="form-control" formControlName="secondary_position" [(ngModel)]="player.secondary_position">
                        <option disabled>Posición secundaria</option>
                        <option value="Base">Base</option>
                        <option value="Escolta">Escolta</option>
                        <option value="Alero">Alero</option>
                        <option value="Ala-Pívot">Ala-Pívot</option>
                        <option value="Pívot">Pívot</option>
                    </select>
                </div>
                
            </div>
    
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">Peso</label>
                <div class="col-md-8">
                    <input class="form-control"
                            type="number"
                            placeholder="Peso (kg)"
                            formControlName="weight"
                            [(ngModel)]="player.weight">
                </div>
            </div>
    
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">Altura</label>
                <div class="col-md-8">
                    <input class="form-control"
                            type="number"
                            placeholder="Altura (cm)"
                            formControlName="height"
                            [(ngModel)]="player.height">
                </div>
            </div>

            <div class="form-group row no-gutters">

                <label class="col-2 col-form-label">Club</label>
                <div class="col-md-8">
                    <select class="custom-select" formControlName="club" (change)="selectClub($event.target.value)">
                        <option disabled>Club del Jugador</option>
                        <option *ngFor="let club of clubs; index as i;" value="{{i}}">{{club.name}}</option>
                    </select>
                    <small *ngIf="clubNoValid" class="text-danger">Seleccione un club</small>
                </div>
                
            </div>
    
            <div class="form-group row no-gutters" *ngIf="club_selected">

                <label class="col-2 col-form-label">Liga</label>
                <div class="col-md-8">
                    <select class="custom-select" formControlName="league" (change)="setLeague($event.target.value)">
                        <option disabled>Liga del Equipo</option>
                        <option *ngFor="let team of teams; index as i;" value="{{i}}">{{team.league.league_name}}</option>
                    </select>
                    <small *ngIf="leagueNoValid" class="text-danger">Seleccione una liga</small>
                </div>
                
            </div>

            
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">Dorsal</label>
                <div class="col-md-8">
    
                <input class="form-control"
                        type="number"
                        placeholder="Dorsal"
                        formControlName="number"
                        [(ngModel)]="player.number">
                </div>
                <small *ngIf="numberNoValid" class="text-danger">Seleccione un dorsal</small>
            </div>

            
    
            <div class="form-group row no-gutters">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                <button type="submit" class="btn btn-primary col-12">
                    Guardar
                </button>
                </div>
            </div>
    
        </form>

    </div>
    
</div>