<div class="container-fluid">

    <div class="row h-50 no-gutters pt-3">

        <!-- Player column -->
        <div class="col-7">
            <div class="card flex-row h-50  text-white" >
                <img class="img-fluid" src="{{player.img}}" alt="Card image cap">
                <div class="card-body text-center">
                  <h5 class="card-title">{{player.name}} {{player.last_name}}</h5>
                  <p class="card-text">{{player.birth_date | date: 'dd/MM/yyyy' }}</p>
                  <p class="card-text">{{player.height}} cm  {{player.weight}} kg</p>
                  <p class="card-text">{{player.primary_position}} / {{player.secondary_position}}</p>
                </div>
            </div>
        </div>

        <!-- Stats chart column -->
        <div class="col-3">
            <div class="card h-50 season_stats">
                <div echarts [options]="options"  class="season_stats_chart"></div>
            </div>
        </div>

        <!-- Team logo column -->
        <div class="col-2">
                <img class="card-img-top img-fluid w-100" src="{{player.teams[0].club_img}}" alt="Card image cap">
        </div>

    </div>

    <div class="row no-gutters pt-3"></div>

</div>
