<div class="vh-100">

    <nav class="nav nav-pills nav-justified p-1">
        <a class="nav-item nav-link active" data-toggle="pill" href="#view-leagues">Consultar Ligas</a>
        <a class="nav-item nav-link " data-toggle="pill" href="#create-league">Crear Liga</a>
    </nav>

    <div class="tab-content">
        <div class="tab-pane fade show active " id="view-leagues" role="tabpanel" >
            <app-leagues-view ></app-leagues-view>
        </div>
        <div class="tab-pane fade" id="create-league" role="tabpanel">
            <app-newleague-form></app-newleague-form>
        </div>
    </div>

</div>
