<div class="row d-flex justify-content-center no-gutters addScroll overflow-auto">

    <div class="plays d-flex flex-column col-10 mt-2">

        <div class="play m-2 " *ngFor="let play of plays">

            <div class="row col-12 p-0 pt-2 time no-gutters">
                <div class="qrt col-1 h4 m-0 text-center align-self-center">{{ play.period }}C</div>
                <div class="minutes col-1 h4 m-0 text-center align-self-center">{{ play.time.minute | number : '2.0-0'}}:{{ play.time.second | number : '2.0-0'}} </div>
                <div class="col-4"></div>
                <div class="col-2 h6 m-0 text-center align-self-center">{{ play.player.player_name }} {{ play.player.player_last_name }}
                </div>
            </div>
            <div class="row col-12 p-0 main no-gutters">
                <div class="home-score col-1 h1 m-0 text-center align-self-center">{{ play.home_team_score }}</div>
                <div class="visitor-score col-1 h1 m-0 text-center align-self-center">{{ play.visitor_team_score }}</div>
                <div class="col-1 m-0 text-center align-self-center">
                    <p *ngIf="play.type == 'shot' && play.shot_type == 'ft' && play.shot_made == true" class="m-0 h4 shot_made">+1</p>
                    <p *ngIf="play.type == 'shot' && play.shot_type == 'ft' && play.shot_made == true" class="m-0 h4 shot_missed">X</p>

                    <p *ngIf="play.type == 'shot' && play.shot_type == 'fg' && play.shot_made == true && play.shot_position != 'lc3' && play.shot_position != 'le3' && play.shot_position != 'c3' && play.shot_position != 're3' && play.shot_position != 'rc3'" class="m-0 h2 shot_made">+2</p>
                    <p *ngIf="play.type == 'shot' && play.shot_type == 'fg' && play.shot_made == true && (play.shot_position == 'lc3' || play.shot_position == 'le3' || play.shot_position == 'c3' || play.shot_position == 're3' || play.shot_position == 'rc3')" class="m-0 h2 shot_made">+3</p>
                    <p *ngIf="play.type == 'shot' && play.shot_type == 'fg' && play.shot_made == false" class="m-0 h2 shot_missed">X</p>
                </div>
                <div class="play-type col-3 pl-3 h5 m-0  align-self-center">
                    
                    <p *ngIf="play.type == 'shot' && play.shot_type == 'ft' && play.shot_made == true" class="m-0 h4">Tiro libre anotado</p>
                    <p *ngIf="play.type == 'shot' && play.shot_type == 'ft' && play.shot_made == false" class="m-0 h4">Tiro libre fallado</p>

                    <p *ngIf="play.type == 'shot' && play.shot_type == 'fg' && play.shot_made == true" class="m-0 h4">Tiro anotado</p>
                    <p *ngIf="play.type == 'shot' && play.shot_type == 'fg' && play.shot_made == false" class="m-0 h4">Tiro fallado</p>

                    <p *ngIf="play.type == 'rebound' && play.rebound_type == 'offensive'" class="m-0 h4">Rebote ofensivo</p>
                    <p *ngIf="play.type == 'rebound' && play.rebound_type == 'defensive'" class="m-0 h4">Rebote defensivo</p>
                    <p *ngIf="play.type == 'assist'" class="m-0 h4">Asistencia</p>
                    <p *ngIf="play.type == 'steal'" class="m-0 h4">Robo</p>
                    <p *ngIf="play.type == 'block'" class="m-0 h4">Tapón</p>
                    <p *ngIf="play.type == 'lost ball'" class="m-0 h4">Pérdida</p>
                    <p *ngIf="play.type == 'personal foul' && play.foul_type == 'received'" class="m-0 h4">Falta Personal recibida</p>
                    <p *ngIf="play.type == 'personal foul' && play.foul_type == 'made'" class="m-0 h4">Falta Personal hecha</p>
                    
                </div>
                <div class="player-picture col-2">
                    <img src="{{ play.player.player_img }}" class="img-fluid player-img">
                </div>
                <div class="team-picture col-2">
                    <img src="{{ play.team.team_img }}" class="img-fluid team-img">
                </div>
                <div class="play-buttons flex-column col-2">
                    <button type="button" class="btn btn-danger w-100 h-100" (click)="deletePlay(play)">Eliminar</button>
                </div>
            </div>

        </div>

    </div>

</div>