.card{
    border: solid;
    border-color: white;
    border-width: 2px;
    height: 220px;
    background-color: #27293D;
    
}

.card:hover{
    border: solid;
    border-width: 2px;
    border-color: #E69C1C;
}

.card-body{
    color: white;
}

a{
    text-decoration: none; 
}

.card-img-top{
    background-color: #27293D;
    padding-top: 2%;
}

