

<div class="row no-gutters vh-100 align-items-center">

    <div class="col"></div>

    <div class="card col-3 h-40" >
        <img class="card-img-top" src="../../../assets/img/game/menu/whistle.svg" alt="Whistle">
        <div class="card-body">
            <h5 class="card-title">Crear partido</h5>
            <p class="card-text">Comenzar el registro de un nuevo partido.</p>
        </div>
    </div>

    <div class="col-1"></div>

    <div class="card col-3 h-40" >
        <img class="card-img-top" src="../../../assets/img/game/menu/pencil.svg" alt="Pencil">
        <div class="card-body">
            <h5 class="card-title">Consultar partido</h5>
            <p class="card-text">Buscar un partido para consultar, editar o eliminar.</p>
        </div>
    </div>

    <div class="col"></div>


</div>

    