<div class="container-fluid no-gutters">

    <!-- 1st ROW: SCOREBOARD -->
    <div class="row no-gutters mt-3 mb-3">

        <div class="scoreboard d-flex flex-column h-100 col-10">

            <div class="d-flex flex-row no-gutters  align-items-center">

                <!-- Home Team -->
                <div class="home-team-info d-flex flex-column col">
                    <p class="home-team-name h2">{{game.home_team.club_acronym}}</p>
                    <img class="home-team-logo img-fluid" src={{game.home_team.club_img}}>             
                    <p class="home-team-score h1">{{game.home_team_score | number : '2.0-0'}}</p>
                    <div style="text-align:center">
                        <span class="dot ht-dot-1"></span>
                        <span class="dot ht-dot-2"></span>
                        <span class="dot ht-dot-3"></span>
                        <span class="dot ht-dot-4"></span>
                        <span class="dot ht-dot-5"></span>
                    </div>
                </div>

                <!-- Timer -->
                <div class=" d-flex flex-column col">

                    <div class="time-div d-flex flex-row no-gutters">

                        <div class="minutes-buttons d-flex flex-column col">
                            <button type="button" class="btn btn-warning" (click)="scoreboardMinutes(true)">+</button>
                            <button type="button" class="btn btn-danger" (click)="scoreboardMinutes(false)">-</button>

                            <button type="button" class="btn btn-warning mt-4" (click)="scoreboardQuarter(true)">+</button>
                        </div>

                        
                        <div class="time d-flex flex-column col-8">
                            <div class="pt-2">
                                <p class="h1">{{ minutes | number : '2.0-0' }}:{{ seconds | number : '2.0-0' }}</p>
                            </div>
                            
                            <div class="mt-4">
                                <p class="h5">QTR</p>
                                <p class="h3 text-center">{{quarter}}</p>
                            </div>
                            
                        </div>

                        <div class="seconds-buttons d-flex flex-column col">
                            <button type="button" class="btn btn-warning" (click)="scoreboardSeconds(true)">+</button>
                            <button type="button" class="btn btn-danger" (click)="scoreboardSeconds(false)">-</button>

                            <button type="button" class="btn btn-warning mt-4" (click)="scoreboardQuarter(false)">-</button>
                        </div>

                    </div>

                </div>
                
                <!-- Visitor Team -->
                <div class="visitor-team-info d-flex flex-column col">
                    <p class="visitor-team-name h2">{{game.visitor_team.club_acronym}}</p>
                    <img class="visitor-team-logo img-fluid" src="{{game.visitor_team.club_img}}">
                    <p class="visitor-team-score h1">{{game.visitor_team_score | number : '2.0-0'}}</p>
                    <div style="text-align:center">
                        <span class="dot vt-dot-1"></span>
                        <span class="dot vt-dot-3"></span>
                        <span class="dot vt-dot-2"></span>
                        <span class="dot vt-dot-4"></span>
                        <span class="dot vt-dot-5"></span>
                    </div>
                </div>
                
            </div>

        </div>

        <div class="time-commands  d-flex flex-column col-2">
            <button type="button" (click)="resumeTimer()" class="btn btn-success w-100 h-50 m-1">
                <i class="fa fa-play" style="font-size:24px"></i>
            </button>
            <button type="button" (click)="pauseTimer()" class="btn btn-primary w-100 h-50 m-1">
                <i class="fa fa-pause" style="font-size:24px"></i>
            </button>
        </div>

    </div>

    <!-- 2nd ROW -->
    <div class="row no-gutters mt-2 h-100">

            <!-- LINEUPS COLUMN -->
            <div class="d-flex flex-column col mr-2" id="lineups-column">

                <!-- Home Lineup -->
                <div class="lineup row no-gutters">

                    <div class="d-flex flex-column col-11">
                        <div class="frontcourt row no-gutters">
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 0 && player_active[1] == oncourt_home_players[0]}" (click)="setPlayer(0, oncourt_home_players[0]);" src={{home_players[oncourt_home_players[0]].player_img}}>
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 0 && player_active[1] == oncourt_home_players[1]}" (click)="setPlayer(0, oncourt_home_players[1])" src={{home_players[oncourt_home_players[1]].player_img}}>
                        </div>
                        <div class="backcourt row no-gutters">
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 0 && player_active[1] == oncourt_home_players[2]}" (click)="setPlayer(0, oncourt_home_players[2])" src={{home_players[oncourt_home_players[2]].player_img}}>
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 0 && player_active[1] == oncourt_home_players[3]}" (click)="setPlayer(0, oncourt_home_players[3])" src={{home_players[oncourt_home_players[3]].player_img}}>
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 0 && player_active[1] == oncourt_home_players[4]}" (click)="setPlayer(0, oncourt_home_players[4])" src={{home_players[oncourt_home_players[4]].player_img}}>
                        </div>
                    </div>
                        
                    <div class="d-flex flex-column col-1">
                        <button type="button" class="h-100 p-0 btn btn-warning" (click)="substitution()">
                            <img class="img-fluid substitution-img" src="https://image.flaticon.com/icons/png/512/1666/1666005.png">
                        </button>
                    </div>

                </div>
        
                <!-- Visitor Lineup -->
                <div class="lineup row no-gutters mt-2">

                    <div class="d-flex flex-column col-11">

                        <div class="frontcourt row no-gutters">
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 1 && player_active[1] == oncourt_visitor_players[0]}" (click)="setPlayer(1, oncourt_visitor_players[0]);" src={{visitor_players[oncourt_visitor_players[0]].player_img}}>
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 1 && player_active[1] == oncourt_visitor_players[1]}" (click)="setPlayer(1, oncourt_visitor_players[1]);" src={{visitor_players[oncourt_visitor_players[1]].player_img}}>
                        </div>
                        <div class="backcourt row no-gutters">
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 1 && player_active[1] == oncourt_visitor_players[2]}" (click)="setPlayer(1, oncourt_visitor_players[2]);" src={{visitor_players[oncourt_visitor_players[2]].player_img}}>
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 1 && player_active[1] == oncourt_visitor_players[3]}" (click)="setPlayer(1, oncourt_visitor_players[3]);" src={{visitor_players[oncourt_visitor_players[3]].player_img}}>
                            <img class="player img-fluid " [ngClass]="{ 'player_active_class': player_active[0] == 1 && player_active[1] == oncourt_visitor_players[4]}" (click)="setPlayer(1, oncourt_visitor_players[4]);" src={{visitor_players[oncourt_visitor_players[4]].player_img}}>
                        </div>

                    </div>

                    <div class="d-flex flex-column col-1">
                        <button type="button" class="h-100 p-0 btn btn-warning" (click)="substitution()">
                            <img class="img-fluid substitution-img" src="https://image.flaticon.com/icons/png/512/1666/1666005.png">
                        </button>
                    </div>

                </div>
                

            </div>


            <!-- ACTIONS COLUMN-->
            <div class="d-flex flex-column col ml-2 " id="actions-column">

                <!-- PILLS -->
                <nav class="nav nav-pills nav-justified ">
                    <a class="nav-item nav-link active w-25" data-toggle="pill" href="#actions">Registrar Jugada</a>
                    <a class="nav-item nav-link w-25" data-toggle="pill" href="#shotchart">Shotchart</a>
                    <a class="nav-item nav-link w-25" data-toggle="pill" href="#local_bench">Banquillo Local</a>
                    <a class="nav-item nav-link w-25" data-toggle="pill" href="#visitor_bench">Banquillo Visitante</a>
                </nav>

                <div class="tab-content h-100">
                    <!-- Actions -->
                    <div class="tab-pane fade show active h-100" id="actions" role="tabpanel" >

                        <div class="row align-items-center no-gutters h-100">

                            <!-- 1st column -->
                            <div class="d-flex h-100 flex-column col p-2 ">

                                <!-- Shot actions -->
                                <div class="shot-actions row no-gutters h-100 p-2 m-1">
                                    <div class="text-center row no-gutters w-100 mb-3">
                                        <p class="text-center h4">Tiros</p>
                                    </div>
                                    <div class="row no-gutters w-100 h-50">                                      
                                        <button type="button" class="btn btn-success w-50" (click)="createFTPlay(true)">TL Anotado</button>
                                        <button type="button" class="btn btn-danger w-50" (click)="createFTPlay(false)">TL Fallado</button>
                                    </div>
                                </div>

                                <!-- Rebound actions -->
                                <div class="rebound-actions no-gutters h-100 p-2 m-1">
                                    <div class="text-center row no-gutters w-100 mb-3">
                                        <p class="text-center h4">Rebotes</p>
                                    </div>
                                    <div class="row no-gutters w-100 h-50"> 
                                        <button type="button" class="btn btn-success w-50" (click)="createReboundPlay('defensive')">Rebote Defensivo</button>
                                        <button type="button" class="btn btn-danger w-50" (click)="createReboundPlay('offensive')">Rebote Ofensivo</button>
                                    </div>
                                    
                                </div>

                                <!-- Block actions -->
                                <div class="blocks-actions h-100 p-2 m-1">
                                    <div class="text-center row no-gutters w-100 mb-3">
                                        <p class="text-center h4">Tapones</p>
                                    </div>
                                    
                                    <div class="row no-gutters w-100 h-50">
                                        <button type="button" class="btn btn-success w-50" (click)="createBlockPlay('made')">Tapón realizado</button>
                                        <button type="button" class="btn btn-danger w-50" (click)="createBlockPlay('received')">Tapón recibido</button>
                                    </div>
                                </div>

                            </div>

                            <!-- 2nd Column-->
                            <div class="d-flex h-100 flex-column col p-2">
                                <!-- Assist actions -->
                                <div class="assist-actions h-100 p-2 m-1">
                                    <div class="text-center row no-gutters w-100 mb-3">
                                        <p class="text-center h4">Asistencias</p>
                                    </div>
                                    <div class="row no-gutters w-100 h-50">
                                        <button type="button" class="btn btn-success w-100" (click)="createAssistPlay()">Asistencia</button>
                                    </div>
                                    
                                </div>
                                <!-- Steal actions -->
                                <div class="steal-actions h-100 p-2 m-1">
                                    <div class="text-center row no-gutters w-100 mb-3">
                                        <p class="text-center h4">Pérdidas</p>
                                    </div>
                                    <div class="row no-gutters w-100 h-50">
                                        <button type="button" class="btn btn-success w-50" (click)="createStealPlay()">Robo</button>
                                        <button type="button" class="btn btn-danger w-50" (click)="createTurnoverPlay()">Pérdida</button>
                                    </div>
                                    
                                </div>

                                <div class="fouls-actions h-100 p-2 m-1">
                                    <div class="text-center row no-gutters w-100 mb-3">
                                        <p class="text-center h4">Faltas personales</p>
                                    </div>
                                    <div class="row no-gutters w-100 h-50 pt-2 pb-2">
                                        <button type="button" class="btn btn-success w-50" (click)="createPersonalFoulPlay('received')">Falta recibida</button>
                                        <button type="button" class="btn btn-danger w-50" (click)="createPersonalFoulPlay('made')">Falta realizada</button>
                                    </div>
                                    
                                </div>

                            </div>
                            
                        </div>

                    </div>
                    <!-- Shotchart -->
                    <div class="tab-pane fade" id="shotchart" role="tabpanel">

                        <div class="row align-items-center no-gutters ">

                            <!-- Shotchart column -->
                            <div class="d-flex flex-column col-10">
                                <svg id="court" class="p-0 h-75 " viewBox="0 0 1280 1024">

                                    <image  width="1228" height="1024" xlink:href="../../../../../../assets/img/game/halfcourt.jpg"  />
                
                                    <!--Left Corner 3P -->
                                    <rect [ngClass]="{ 'shot_zone_active': shot_zone == 'lc3'}" class="zone" x="4" y="65" width="115" height="450" (click)="setShotZone('lc3')"/>
                                    <!-- Right Corner 3P -->
                                    <rect [ngClass]="{ 'shot_zone_active': shot_zone == 'rc3'}" class="zone" x="1112" y="65"  width="110" height="460" (click)="setShotZone('rc3')"/>
                                    <!-- Left Corner -->
                                    <rect [ngClass]="{ 'shot_zone_active': shot_zone == 'lmc2'}" class="zone" x="128" y="65"   width="288" height="275" (click)="setShotZone('lmc2')"/>
                                    <!-- Right Corner -->
                                    <rect [ngClass]="{ 'shot_zone_active': shot_zone == 'rmc2'}" class="zone" x="813" y="65"  width="288" height="275" (click)="setShotZone('rmc2')"/>
                                    <!-- Left Paint -->
                                    <rect [ngClass]="{ 'shot_zone_active': shot_zone == 'lp2'}" class="zone" x="425" y="65"  width="190" height="250" (click)="setShotZone('lp2')"/>
                                    <!-- Right Paint -->
                                    <rect [ngClass]="{ 'shot_zone_active': shot_zone == 'rp2'}" class="zone" x="614" y="65"  width="190" height="250" (click)="setShotZone('rp2')"/>
                                    <!-- Left Paint FT -->
                                    <rect [ngClass]="{ 'shot_zone_active': shot_zone == 'lft2'}" class="zone" x="425" y="314"  width="190" height="209" (click)="setShotZone('lft2')"/>
                                    <!-- Right Paint FT -->
                                    <rect [ngClass]="{ 'shot_zone_active': shot_zone == 'rft2'}" class="zone" x="614" y="314"  width="190" height="209" (click)="setShotZone('rft2')"/>
                
                                    <!-- Central 3P -->
                                    <path [ngClass]="{ 'shot_zone_active': shot_zone == 'c3'}" class="zone"  d="M420,745 L 420 961 L 822 961 L 822 740 Q 620 800 420 745" (click)="setShotZone('c3')"/>
                
                                    <!-- Central 2P -->
                                    <path [ngClass]="{ 'shot_zone_active': shot_zone == 'cm2'}" class="zone"  d="M419,530 L 419 733 Q 620 793 813 730 L 813 530 L 419 530" (click)="setShotZone('cm2')"/>
                 
                                    <!-- Right Elbow 2P -->
                                    <path [ngClass]="{ 'shot_zone_active': shot_zone == 'rme2'}" class="zone" d="M812,340 L 812 731 Q 1000 675 1103 517 L 1103 340 L 812 340" (click)="setShotZone('rme2')"/>
                                    
                                    <!-- Right 3P -->
                                    <path [ngClass]="{ 'shot_zone_active': shot_zone == 're3'}" class="zone" d="M822,738 L 822 965 L 1223 965 L 1223 525 L 1110 528 Q 1000 690 822 738" (click)="setShotZone('re3')"/>
                
                                    <!-- Left 3P -->
                                    <path [ngClass]="{ 'shot_zone_active': shot_zone == 'le3'}" class="zone" d="M5,515 L 5 965 L 419 965 L 419 745 Q 190 655 119 515 L 5 515" (click)="setShotZone('le3')"/>
                
                                    <!-- Left Elbow 2P -->
                                    <path [ngClass]="{ 'shot_zone_active': shot_zone == 'lme2'}" class="zone" d="M128,340 L 128 517 Q 225 665 416 733 L 416 340 L 126 340" (click)="setShotZone('lme2')"/>
                
                                    
                                </svg>
                            </div>

                            <!-- Buttons column -->
                            <div class="d-flex flex-column col-2 h-50">
                                <button type="button" class="btn btn-success text-center pt-5 pb-5" (click)="createShotPlay(true)">Acierto</button>
                                <button type="button" class="btn btn-danger text-cennter pt-5 pb-5" (click)="createShotPlay(false)">Fallo</button>
                            </div>
                            
                        </div>

                        
        
                        

                    </div>
                    <!-- Home bench -->
                    <div class="tab-pane fade addScroll overflow-auto text-center pt-3" id="local_bench" role="tabpanel">     
                        <div *ngFor="let player_index of bench_home_players; index as i;" class="bench_player_info w-50 d-inline-flex" [ngClass]="{ 'bench_player_info_active': player_bench[0] == 0 && player_bench[1] == bench_home_players[i]}" (click)="setBenchPlayer(0, bench_home_players[i]);">
                            <img  class="img-fluid w-50" src={{home_players[player_index].player_img}}>
                            <div class="w-50 my-auto">
                                <p>{{home_players[player_index].player_number}}. {{home_players[player_index].player_name}}</p>
                                <p>{{home_players[player_index].player_lastName}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Visitor bench -->
                    <div class="tab-pane fade addScroll overflow-auto text-center pt-3" id="visitor_bench" role="tabpanel">     
                        <div *ngFor="let player_index of bench_visitor_players; index as i;" class="bench_player_info w-50 d-inline-flex" [ngClass]="{ 'bench_player_info_active': player_bench[0] == 1 && player_bench[1] == bench_visitor_players[i]}" (click)="setBenchPlayer(1, bench_visitor_players[i]);">
                            <img  class="img-fluid w-50" src={{visitor_players[player_index].player_img}}>
                            <div class="w-50 my-auto">
                                <p>{{visitor_players[player_index].player_number}}. {{visitor_players[player_index].player_name}}</p>
                                <p>{{visitor_players[player_index].player_lastName}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        
        
    </div>

</div>