/* SCOREBOARD */
.scoreboard{
    background-color: grey;
    height: 300px;
    margin-left: auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: red;
    background-color: black;
    color: white;
}

p{
    margin: auto;
}

.home-team-info{
    margin-left: auto;
    margin-top: auto;
}

.visitor-team-info{
    margin-right: auto;
    margin-top: auto;
}

img{
    width: 80px;
    margin: auto;
}

.time div{
    margin: auto;
    
}

.dot {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.ht-dot-1, .ht-dot-2, .ht-dot-3, .ht-dot-4{
    background-color: green;
}

.vt-dot-1, .vt-dot-2, .vt-dot-3, .vt-dot-4{
    background-color: green;
}

.ht-dot-5, .vt-dot-5{
    background-color: red;
}
.time-commands{
    margin-right: auto;
}

/* 2ND ROW */
.lineups-column{
    margin: auto;
}

.substitution-img{
    height: 25%;
}

.lineup{
    background-color: #27293D;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 15px black;
}

.player{
    margin-left: auto;
    width: 28%;
    border: solid;
    border-color: transparent;
}

.player:active{
    border-width: 2px;
    border-color: #E69C1C;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/* SHOTCHART */

#court {
    fill: transparent;
    stroke: yellow;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.zone {
    fill: transparent;
    /*stroke: #2B2B2B;*/
    stroke: red;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.zone:hover {
    fill: #FEA400;
    cursor: pointer;
}

#actions-column{
    border: solid;
    background-color: #27293D;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 15px black;
}

#actions-column .nav a{
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid;
    border-width: 0.5px;
    background-color: #27293D;
}
#actions-column .nav a:hover{
    border-color: #E69C1C;
}

#actions-column .nav a.active{
    background-color: #E69C1C;
    border-color: #E69C1C;;
}

.shot-actions, .rebound-actions, .steal-actions, .assist-actions, .fouls-actions, .blocks-actions{
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 15px black;
}

#actions-column p{
    color: white;
}


