<div class="container-fluid no-gutters ">
    <!-- 1st ROW: SCOREBOARD -->
    <div class="row no-gutters mt-3 mb-3">

        <div class="scoreboard p-1 h-100">

            <div class="d-flex flex-row">

                <div class="home-team-info d-flex flex-column">
                    <p class="home-team-name h2">DAL</p>
                    <img class="home-team-logo" src="https://www.comuniate.com/intranet/equipos/fotos/9.jpg">
                    
                    <p class="home-team-score pl-5 pr-5 h1">30</p>
                    <div style="text-align:center">
                        <span class="dot ht-dot-1"></span>
                        <span class="dot ht-dot-2"></span>
                        <span class="dot ht-dot-3"></span>
                        <span class="dot ht-dot-4"></span>
                        <span class="dot ht-dot-5"></span>
                    </div>
                </div>

                
                <div class=" d-flex flex-column">

                    <div class="time-div d-flex flex-row">

                        <div class="minutes-buttons d-flex flex-column">
                            <button type="button" class="btn btn-warning">+</button>
                            <button type="button" class="btn btn-danger">-</button>

                            <button type="button" class="btn btn-warning mt-4">+</button>
                        </div>

                        
                        <div class="time d-flex flex-column">
                            <div class="pt-2">
                                <p class="h1">01:45</p>
                            </div>
                            
                            <div class="mt-4">
                                <p class="h5">QTR</p>
                                <p class="h3 text-center">4</p>
                            </div>
                            
                        </div>

                        <div class="seconds-buttons d-flex flex-column">
                            <button type="button" class="btn btn-warning">+</button>
                            <button type="button" class="btn btn-danger">-</button>

                            <button type="button" class="btn btn-warning mt-4">-</button>
                        </div>

                    </div>

                </div>
                

                <div class="visitor-team-info d-flex flex-column">
                    <p class="visitor-team-name h2">LAC</p>
                    <img class="visitor-team-logo" src="https://www.comuniate.com/intranet/equipos/fotos/9.jpg">
                    <p class="visitor-team-score pl-5 pr-5 h1">35</p>
                    <div style="text-align:center">
                        <span class="dot vt-dot-1"></span>
                        <span class="dot vt-dot-3"></span>
                        <span class="dot vt-dot-2"></span>
                        <span class="dot vt-dot-4"></span>
                        <span class="dot vt-dot-5"></span>
                    </div>
                </div>
                
            </div>

        </div>

        <div class="time-commands p-2 d-flex flex-column">
            <button type="button" class="btn btn-success w-100 h-50 m-1">
                <i class="fa fa-play" style="font-size:24px"></i>
            </button>
            <button type="button" class="btn btn-primary w-100 h-50 m-1">
                <i class="fa fa-pause" style="font-size:24px"></i>
            </button>
        </div>

    </div>

    <!-- 2nd ROW -->
    <div class="row no-gutters mt-4">

            <!-- LINEUPS COLUMN -->
            <div class="d-flex flex-column col mr-2" id="lineups-column">

                <div class="lineup row no-gutters mb-3">

                    <div class="d-flex flex-column col-11">
                        <div class="frontcourt row no-gutters">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                            
                        </div>
                        <div class="backcourt row no-gutters">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                        </div>
                    </div>
                        
                    <div class="d-flex flex-column col-1">
                        <button type="button" class="h-100 p-0 btn btn-warning">
                            <img class="img-fluid substitution-img" src="https://image.flaticon.com/icons/png/512/1666/1666005.png">
                        </button>
                    </div>

                </div>
        

                <div class="lineup row no-gutters mt-3">

                    <div class="d-flex flex-column col-11">

                        <div class="frontcourt row no-gutters">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                        </div>
                        <div class="backcourt row no-gutters">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                            <img class="player img-fluid " src="https://s.yimg.com/it/api/res/1.2/yWeM3re8XnoBfOJiMg3LDw--~A/YXBwaWQ9eW5ld3M7dz0zMDA7aD0yMDA7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10112019/3704.png">
                        </div>

                    </div>

                    <div class="d-flex flex-column col-1">
                        <button type="button" class="h-100 p-0 btn btn-warning">
                            <img class="img-fluid substitution-img" src="https://image.flaticon.com/icons/png/512/1666/1666005.png">
                        </button>
                    </div>

                </div>

            </div>


            <!-- ACTIONS COLUMN-->
            <div class="d-flex flex-column col ml-2" id="actions-column">

                <!-- PILLS -->
                <nav class="nav nav-pills nav-justified ">
                    <a class="nav-item nav-link active " data-toggle="pill" href="#actions">Registrar Jugada</a>
                    <a class="nav-item nav-link " data-toggle="pill" href="#shotchart">Shotchart</a>
                </nav>

                <div class="tab-content h-100">
                    <div class="tab-pane fade show active h-100" id="actions" role="tabpanel" >

                        <div class="row no-gutters h-100">

                            <div class="d-flex flex-column col p-2 ">

                                <div class="shot-actions p-2 m-1">
                                    <p class="text-center h4">Tiros</p>
                                    <div class="row no-gutters justify-content-center pt-2 pb-2">
                                        <button type="button" class="btn btn-success w-50">TL Anotado</button>
                                        <button type="button" class="btn btn-danger w-50">TL Fallado</button>
                                    </div>
                                    <div class="row no-gutters justify-content-center pt-2 pb-2">
                                        <button type="button" class="btn btn-success w-50">T2 Anotado</button>
                                        <button type="button" class="btn btn-danger w-50">T2 Fallado</button>
                                    </div>
                                    <div class="row no-gutters justify-content-center pt-2 pb-2">
                                        <button type="button" class="btn btn-success w-50">T3 Anotado</button>
                                        <button type="button" class="btn btn-danger w-50">T3 Fallado</button>
                                    </div>
                                    
                                </div>

                                <div class="rebound-actions  p-2 m-1">

                                    <p class="text-center h4">Rebotes</p>
                                    <div class="row no-gutters justify-content-center pt-2 pb-2">
                                        <button type="button" class="btn btn-success w-50">Rebote Defensivo</button>
                                        <button type="button" class="btn btn-danger w-50">Rebote Ofensivo</button>
                                    </div>
                                    
                                </div>

                            </div>

                            <div class="d-flex flex-column col p-2">

                                <div class="assist-actions p-2 m-1">
                                    
                                    <p class="text-center h4">Asistencias</p>
                                    <div class="row no-gutters justify-content-center pt-2 pb-2">
                                        <button type="button" class="btn btn-success w-50">Asistencia</button>
                                    </div>
                                    
                                </div>
                                
                                <div class="steal-actions p-2 m-1">
                                    
                                    <p class="text-center h4">Pérdidas</p>
                                    <div class="row no-gutters justify-content-center pt-2 pb-2">
                                        <button type="button" class="btn btn-success w-50">Robo</button>
                                        <button type="button" class="btn btn-danger w-50">Pérdida</button>
                                    </div>
                                    
                                </div>

                                <div class="fouls-actions p-2 m-1">
                                    
                                    <p class="text-center h4">Faltas personales</p>
                                    <div class="row no-gutters justify-content-center pt-2 pb-2">
                                        <button type="button" class="btn btn-success w-50">Falta recibida</button>
                                        <button type="button" class="btn btn-danger w-50">Falta realizada</button>
                                    </div>
                                    
                                </div>

                            </div>
                            
                        </div>

                    </div>
                    <div class="tab-pane fade" id="shotchart" role="tabpanel">
                        <svg id="court" class="p-0 h-75 col-10" viewBox="0 0 1280 1024">

                            <image  width="1228" height="1024" xlink:href="../../../../../../assets/img/game/halfcourt.jpg"  />
        
                            <!--Left Corner 3P -->
                            <rect class="zone" x="4" y="65" width="115" height="450"/>
                            <!-- Right Corner 3P -->
                            <rect class="zone" x="1112" y="65"  width="110" height="460"/>
                            <!-- Left Corner -->
                            <rect class="zone" x="128" y="65"   width="288" height="275"/>
                            <!-- Right Corner -->
                            <rect class="zone" x="813" y="65"  width="288" height="275"/>
                            <!-- Left Paint -->
                            <rect class="zone" x="425" y="65"  width="190" height="250"/>
                            <!-- Right Paint -->
                            <rect class="zone" x="614" y="65"  width="190" height="250"/>
                            <!-- Left Paint FT -->
                            <rect class="zone" x="425" y="314"  width="190" height="209"/>
                            <!-- Right Paint FT -->
                            <rect class="zone" x="614" y="314"  width="190" height="209"/>
        
                            <!-- Central 3P -->
                            <path class="zone"  d="M420,745 L 420 961 L 822 961 L 822 740 Q 620 800 420 745"/>
        
                            <!-- Central 2P -->
                            <path class="zone"  d="M419,530 L 419 733 Q 620 793 813 730 L 813 530 L 419 530"/>
         
                            <!-- Right Elbow 2P -->
                            <path class="zone" d="M812,340 L 812 731 Q 1000 675 1103 517 L 1103 340 L 812 340"/>
                            
                            <!-- Right 3P -->
                            <path class="zone" d="M822,738 L 822 965 L 1223 965 L 1223 525 L 1110 528 Q 1000 690 822 738" />
        
                            <!-- Left 3P -->
                            <path class="zone" d="M5,515 L 5 965 L 419 965 L 419 745 Q 190 655 119 515 L 5 515"/>
        
                            <!-- Left Elbow 2P -->
                            <path class="zone" d="M128,340 L 128 517 Q 225 665 416 733 L 416 340 L 126 340"/>
        
                            
                        </svg>
        
                        <button type="button" class="btn btn-primary">Primary</button>

                    </div>
                </div>

                

            </div>
        
        
    </div>

</div>