label, h4, pre{
    color: white;
}

form{
    background-color: #27293D;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 15px black;
}

small{
    text-align: center;
}

.addScroll{
    height: 92vh;
}