<div class="sidebar">
    <div class="position-fixed" id="sticky-sidebar">

        <ul class="nav  flex-column flex-nowrap vh-100 overflow-auto p-2 text-center">

            <span class="navbar-brand">My Team</span>
            <img src="{{club_logo}}" class="img-fluid" alt="Responsive image">

            <hr style="width:100%;background-color:white">

            <!--
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100 m-0 p-3" [routerLink]="['home']">
                    Home
                </a>
                
            </li>
            -->

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100 m-0 p-3" [routerLink]="['game-menu']">
                    <!--<img src="../../../assets/img/sidebar/basketball-game.png" class="sidebar-icon" alt="Responsive image">-->
                    Partidos
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100 m-0 p-3" [routerLink]="['players']">
                    <!--<img src="../../../assets/img/sidebar/basketball-player.png" class="sidebar-icon" alt="Responsive image">-->
                    Jugadores
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100 m-0 p-3" [routerLink]="['teams']">
                    <!--<img src="../../../assets/img/sidebar/basketball-jersey-2.png" class="sidebar-icon" alt="Responsive image">-->
                    Equipos
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100 m-0 p-3" [routerLink]="['clubs']">    
                    <!--<img src="../../../assets/img/sidebar/stadium.png" class="sidebar-icon" alt="Responsive image">-->
                    Clubs
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100 m-0 p-3" [routerLink]="['leagues']">    
                    <!--<img src="../../../assets/img/sidebar/stadium.png" class="sidebar-icon" alt="Responsive image">-->
                    Ligas
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100 m-0 p-3" [routerLink]="['stats']">   
                    <!--<img src="../../../assets/img/sidebar/stats.png" class="sidebar-icon" alt="Responsive image">-->
                    Estadísticas
                </a>
            </li>

            <li *ngIf="user_rol == 'admin'" class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100 m-0 p-3 w-100" [routerLink]="['users']">   
                    <!--<img src="../../../assets/img/sidebar/stats.png" class="sidebar-icon" alt="Responsive image">-->
                    Usuarios
                </a>
            </li>

            <li class="nav-item " (click)="logout()" >
                <a class="nav-link h6 h-100 m-0 p-3 w-100 logout" [routerLink]="[]" >   
                    <!--<img src="../../../assets/img/sidebar/stats.png" class="sidebar-icon" alt="Responsive image">-->
                    Cerrar sesión
                </a>
            </li>

        </ul>

    </div>
</div>