<div class="row no-gutters">

    <div class="col-1 col-lg-1 bg-dark position-fixed" id="sticky-sidebar">

        <ul class="nav nav-justified flex-column flex-nowrap vh-100 overflow-auto p-2">

            <span class="navbar-brand">My Team</span>
            <img src="https://as00.epimg.net/img/comunes/fotos/fichas/equipos/large/171.png" class="img-fluid" alt="Responsive image">
    
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['home']">
                    Home
                    <img src="../../../assets/img/sidebar/basketball.png" class="sidebar-icon" alt="Responsive image">
                </a>
                
            </li>
    
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['game-menu']">
                    Partidos
                    <img src="../../../assets/img/sidebar/basketball-game.png" class="sidebar-icon" alt="Responsive image">
                </a>
            </li>
    
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['players']">
                    Jugadores
                    <img src="../../../assets/img/sidebar/basketball-player.png" class="sidebar-icon" alt="Responsive image">
                </a>
            </li>
    
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['teams']">
                    Equipos
                    <img src="../../../assets/img/sidebar/basketball-jersey-2.png" class="sidebar-icon" alt="Responsive image">
                </a>
            </li>
    
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['clubs']">
                    Clubes
                    <img src="../../../assets/img/sidebar/stadium.png" class="sidebar-icon" alt="Responsive image">
                </a>
            </li>

        </ul>

    </div>

</div>


<!--
<nav class="navbar col-1 col-lg-1 navbar-dark bg-dark position-fixed">

    <ul class="nav nav-fill flex-nowrap vh-100 overflow-auto flex-column">

        <span class="navbar-brand">My Team</span>
        <img src="https://as00.epimg.net/img/comunes/fotos/fichas/equipos/large/171.png" class="img-fluid" alt="Responsive image">

        <li class="nav-item">
            <a class="nav-link h6 " href="#">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h6 " href="#">Partidos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h6 " href="#">Jugadores</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h6 " href="#">Equipos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h6 h-100" href="#">Clubes</a>
        </li>

    </ul>


</nav>
-->    