<div class="sidebar">
    <div class="bg-dark position-fixed" id="sticky-sidebar">

        <ul class="nav  flex-column flex-nowrap vh-100 overflow-auto p-2">

            <span class="navbar-brand">My Team</span>
            <img src="https://as00.epimg.net/img/comunes/fotos/fichas/equipos/large/171.png" class="img-fluid" alt="Responsive image">

            <hr style="width:100%;background-color:white">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100 " [routerLink]="['home']">
                    <img src="../../../assets/img/sidebar/basketball.png" class="sidebar-icon" alt="Responsive image">
                    Home
                </a>
                
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['game-menu']">
                    <img src="../../../assets/img/sidebar/basketball-game.png" class="sidebar-icon" alt="Responsive image">
                    Partidos
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['new-player']">
                    <img src="../../../assets/img/sidebar/basketball-player.png" class="sidebar-icon" alt="Responsive image">
                    Jugadores
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['teams']">
                    <img src="../../../assets/img/sidebar/basketball-jersey-2.png" class="sidebar-icon" alt="Responsive image">
                    Equipos
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['clubs']">    
                    <img src="../../../assets/img/sidebar/stadium.png" class="sidebar-icon" alt="Responsive image">
                    Clubes
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['leagues-menu']">    
                    <img src="../../../assets/img/sidebar/stadium.png" class="sidebar-icon" alt="Responsive image">
                    Ligas
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h6 h-100" [routerLink]="['clubs']">   
                    <img src="../../../assets/img/sidebar/stadium.png" class="sidebar-icon" alt="Responsive image">
                    Estadísticas
                </a>
            </li>

        </ul>

    </div>
</div>



<!--
<nav class="navbar col-1 col-lg-1 navbar-dark bg-dark position-fixed">

    <ul class="nav nav-fill flex-nowrap vh-100 overflow-auto flex-column">

        <span class="navbar-brand">My Team</span>
        <img src="https://as00.epimg.net/img/comunes/fotos/fichas/equipos/large/171.png" class="img-fluid" alt="Responsive image">

        <li class="nav-item">
            <a class="nav-link h6 " href="#">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h6 " href="#">Partidos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h6 " href="#">Jugadores</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h6 " href="#">Equipos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link h6 h-100" href="#">Clubes</a>
        </li>

    </ul>


</nav>
-->    