span.navbar-brand{
    color: white;
}

a:hover{
    color: white;
    background-color: #E69C1C;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#sticky-sidebar{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 175px;
    background-color:#0B0C10;
    margin-left: 20px;
    margin-top: 50px;    
}

li img{
    width: 35px;
}

a{
    color: #66FCF1;
}
