.scoreboard{
    background-color: grey;
    margin: auto;
    height: 300px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: red;
    background-color: black;
    color: white;
}

p{
    margin: auto;
}

.home-team-info{
    margin-left: auto;
    margin-top: auto;
}

.visitor-team-info{
    margin-right: auto;
    margin-top: auto;
}

img{
    width: 80px;
    margin: auto;
}

.time div{
    margin: auto;
    
}
