<div class="vh-100">

    <div class="row no-gutters h-25 ">

        <div class="scoreboard w-50 h-100">

            <div class="time">01:45</div>

            <div class="d-flex flex-row">

                <div class="home_team">
                    <p class="home-team-name">DAL</p>
                    <img class="home-team-logo" src="">
                </div>

                <div class="marcador d-flex flex-row">
                    <p class="home-team-score">30</p>
                    <p> - </p>
                    <p class="visitor_team-score">35</p>
                </div>

                <div class="visitor_team">
                    <p class="visitor_team-name">LAC</p>
                    <img class="visitor-team-logo" src="">
                </div>

            </div>

        </div>

    </div>

</div>
