.scoreboard{
    background-color: grey;
    border: solid;
    border-color: red;
    margin: auto;
}
.scoreboard div{
    margin: auto;
    border: solid;
    border-color: blue;
}

.row{
    border: solid;
    border-color: yellow;
}
