<div class="vh-100">

    <nav class="nav nav-pills nav-justified p-1">
        <a class="nav-item nav-link active " data-toggle="pill" href="#live">En Vivo</a>
        <a class="nav-item nav-link " data-toggle="pill" href="#boxscore">Boxscore</a>
        <a class="nav-item nav-link " data-toggle="pill" href="#playbyplay">Play by Play</a>
    </nav>

    <div class="pill-content" id="mypillContent">
        <div class="pill-pane fade show active" id="live" role="pillpanel" aria-labelledby="home-pill">
            <app-livegame-main-page></app-livegame-main-page>
        </div>
        <div class="pill-pane fade" id="boxscore" role="pillpanel" aria-labelledby="profile-pill">
            <app-footer></app-footer>
        </div>
        <div class="pill-pane fade" id="playbyplay" role="pillpanel">...</div>
    </div>

</div>
